{% extends 'layout.twig' %}

{% block title %}
    Docente {{ usuario_nombre }}
{% endblock %}

{% set navigation = 'logged_in_encargado'  %}

{% block usuario_nombre %}
	{{ usuario_nombre }}
{% endblock %}

{% block content %}
  {% if errorMessage is defined %}
        <strong>{{ errorMessage }}</strong>
  {% endif %}
  
{% block tabla %}
<div class="card" style="border: solid 0px">
<a name="" id="" class="btn btn-success" href="Crearlo.twig" role="button"
        >Agregar docentes</a>
        <br/>
    <div class="card-body-xxl ">
        <div class="table-responsive-xxl">
            <table class="table">
                <thead  class="thead-light table-bordered">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Comentario</th>
                        <th scope="col">Nombre del Docente</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Prioridad</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Archivo</th>
                        <th scope="col">URL</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                  <tr class="">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td> </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                         <a name="" id="" class="btn btn-info" href="Editarlo.twig?txtID=<?php echo $registros['ID']?>" role="button">Editar</a>
                      |
                      <a name="" id="" class="btn btn-danger" href="Indexes.php?txtID=<?php echo $registros['ID']?>" role="button">Eliminar</a>
                  </td>
                  </tr>
              </tbody>
            </table>
        </div>

{% endblock %}

{% endblock %}

