{% extends 'layout.twig' %}

{% block title %}
    Inicio
{% endblock %}

{% set navigation = 'no_logged_in' %}

{% block content %}
  
  <div class="card bg-dark text-white ">
  <img src="/views/images/walitess.jpg" class="rounded card-img" alt=""/>
    <div class="card-img-overlay">
     <h1 class="card-title" style="text-align: center;"> Sistema de Gestión de Proyectos Académicos </h1>
    </div>
  </div>
{% endblock %}